<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Upload</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="imageupload">Upload Image</a></li>
    <li><a href="images">Images</a></li>
    <li><a href="users">Users</a></li>
</ul>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload Image</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td>Title: </td>
                                <td><input type="text" name="title" required minlength="3"/></td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td><textarea name="description" required ></textarea></td>
                            </tr>
                            <tr>
                                <td>Image:</td>
                                <td><input type="file" name="file" class="form-control-file" required ></td>
                            </tr>
                        </table>

                    </div>
                    <button type="submit" class="btn btn-primary">Upload Image</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>